@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body{
	background: hsl(212, 45%, 89%);
}

h1, p{
	text-align: center;
	font-family: 'Outfit';
	width: 250px;
}

p{
	font-size: 15px;
	font-weight: 400;
	color: hsl(220, 15%, 55%);
}

h1{
	font-size: 20px;
	font-weight: 800;
	color: hsl(218, 44%, 22%);
}

img{
	border-radius: 10px;
	width: 250px;
}

.all{
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: white;
	box-shadow: 6px 6px 6px 6px 10px lightgray;
	padding: 10px 0px 10px;
	margin: 100px 535px 0px 535px;
}

.texte{
	padding-left: 50px;
	width: 300px;
}